* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
}
a {
    cursor: pointer;
    text-decoration: none;
    font-size: xx-large;
    transition: border-bottom 250ms;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    position: relative;
}

a::after {
    content: "";
    width: 0;
    height: 4px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: whitesmoke;
    transition: width 0.3s;
}

a:hover::after {
    width: 50%;
}

.hero-container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent), url(//images03.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/57575ef6c28251059680883e/pexelsphoto1820770.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}


nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

ul {
    display: flex;
    gap: 100px;
}

li {
    list-style: none;
}

div {
    align-items: center;
        text-align: center;
        justify-content: center;
}

.div-text {
    color: whitesmoke;
    position: relative;
}

.div-text h1 {
    font-size: 300px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 500px;
    left: 500px;
}

.div-text h1:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px whitesmoke;
}

.div-text h1:nth-child(2) {
    color: whitesmoke;
    animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
    0%,100% {
        clip-path: polygon(0 45%, 22% 47%, 38% 57%, 50% 61%, 74% 61%, 91% 54%, 100% 48%, 100% 99%, 0 100%);
    }
    50% {
        clip-path: polygon(0 45%, 18% 55%, 40% 66%, 63% 58%, 80% 50%, 99% 49%, 100% 59%, 100% 99%, 0 100%);
    }
}

.div-text p {
    letter-spacing: 2px;
        font-size: 20px;
        text-shadow: 1px 1px 13px rgb(255, 0, 217);
        font-family: 'Poppins', sans-serif;
        font-weight: 400px;
}

button {
    font-size: larger;
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
    padding: 10px 15px;
    border-radius: 25px;
    border: none;
    color: whitesmoke;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

button:hover {
    -webkit-box-shadow: 0px 0px 82px -8px rgba(255, 0, 95, 1);
        -moz-box-shadow: 0px 0px 82px -8px rgba(255, 0, 95, 1);
        box-shadow: 0px 0px 82px -8px rgba(255, 0, 95, 1);
        background-color: black;
}

.text {
    position: absolute;
    top: 750px;
    left: 400px;
}
