* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
    background-color: black;
    color: whitesmoke;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
    background-image: url(//images03.nicepagecdn.com/a1389d7bc73adea1e1c1fb7e/57575ef6c28251059680883e/pexelsphoto1820770.jpeg);
    background-size: cover;
}
a {
    cursor: pointer;
    text-decoration: none;
    font-size: xx-large;
    transition: border-bottom 250ms;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
}

a:hover {
    border-bottom: 2px double rebeccapurple;
}

nav {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

ul {
    display: flex;
    gap: 100px;
}

li {
    list-style: none;
}

div {
    align-items: center;
    text-align: center;
    justify-content: center;
}

h1 {
    align-items: flex-end;
    font-size: 200px;
    margin-top: 500px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-shadow: 1px 1px 20px rgb(212, 54, 189);
    font-family: 'Poppins', sans-serif;
    font-weight: 600px;
}

p {
    letter-spacing: 1px;
    font-size: 20px;
    text-shadow: 1px 1px 13px rgb(255, 0, 217);
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;

}
